<div class="project">
    <div class="heading"><h1>Projects</h1></div>
    <div class="title"><p>These are my top 4 Projects</p></div>
    <div class="list_projects">
        <div class="card">
            <div class="image">
                <img src="../../../assets/pictures/koneseti.PNG" alt="">
            </div>
            <div class="card_desc">
                <div class="card_desc_main">Koneseti</div>
                <div class="card_desc_url">url : Project URL HERE</div>
            </div>

            <div class="card_footer">
                <button class="butn">
                        view 
                </button>

                <button class="butn">
                    GitHub
                </button>
            </div>
        </div>
        

        <div class="card">
            <div class="image">
                <img src="../../../assets/pictures/health.PNG" alt="">
            </div>
            <div class="card_desc">
                <div class="card_desc_main">covid Screen</div>
                <div class="card_desc_url">url : Project URL HERE</div>
            </div>
            <div class="card_footer">
                <button class="butn">
                        view 
                </button>

                <button class="butn">
                    GitHub
                </button>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="../../../assets/pictures/crypto.PNG" alt="">
            </div>
            <div class="card_desc">
                <div class="card_desc_main">Crypto</div>
                <div class="card_desc_url">Mini Description</div>
            </div>
            <div class="card_footer">
                <button class="butn">
                        View 
                </button>

                <button class="butn">
                    GitHub
                </button>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="../../../assets/pictures/studenterb.PNG" alt="">
            </div>
            <div class="card_desc">
                <div class="card_desc_main">Student-ERB</div>
                <div class="card_desc_url">url : Project URL HERE</div>
            </div>

            <div class="card_footer">
                <button class="butn">
                        view 
                </button>

                <button class="butn">
                    GitHub
                </button>
            </div>
        </div>
    </div>

    <div class="social1">
        
       
    </div>
</div>