/* You can add global styles to this file, and also import other style files */

:root 
{
    --baseColor: #2193b0;
    --primaryColor: #2c3e50;
}

body{
    margin: 0;
    padding:0;
    background-image: url('./assets/pictures/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.heading
{
    display: flex;
    justify-content: center;

        color: var(--primaryColor);
        text-decoration: underline;
    
}

.title{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-weight: normal;
    color: var(--baseColor);
    
}