<div class="exp">
    <div class="heading">
        <h1>EXPEERIENCE</h1>
    </div>
    <div class="exp_list">
        <div class="card">
            <div class="card_exp">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/Tshwane_University_of_Technology_logo.svg/1200px-Tshwane_University_of_Technology_logo.svg.png" alt="">
            </div>
            <div class="company_name">Tshwane University of Technology</div>
        </div>

        <div class="card">
            <div class="card_exp">
                <img src="https://www.tut.ac.za/s-faculties/ict/PublishingImages/ICEP.png" alt="">
            </div>
            <div class="company_name">ICEP - Informatics Community Engagement Project</div>
        </div>

        <div class="card">
            <div class="card_exp">

                <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQHSUq8TP9D71A/company-background_10000/0/1519797544524?e=2147483647&v=beta&t=F23fhOKWBbGUPi07Ptv-Yxmv29GmOUP4GkIY4GSMmcw" alt="">
            </div>
            <div class="company_name">The Digital Academy</div>
        </div>
    </div>
    
</div>