
<div class="main">
    <div class="greet" *ngIf="timeLeft === this.role.length*3 ">
        Hy There.
    </div>
    <div class="desc">
        
        I am a&nbsp;<div class="change_text"> {{show}}</div>
    </div>

    <div class="social">
        <div class="github">
            <img src="https://img.icons8.com/ios-filled/50/000000/github.png"/>
        </div>
        <div class="linkedIn">
            <img src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled--v1.png"/>
        </div>
    </div>
</div>
